/** Add css rules here for your application. */
@font-face {
    font-family: "GothamMedium";
    src: url("fonts/gotham-medium.ttf");
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0;
    text-align: center;
}

body, td, a, div, .p {
    font-family: GothamMedium, sans-serif
}

#pager{
    margin-top: 10px;
}

.mainBtn{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    width: 160px;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: #7097ff;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.7s ease;
    margin: 10px 10px 0;
}

.mainBtn:hover {
    background: rgba(255,255,255,.2);
    color: rgba(0, 0, 0, 0.93);
    border-color: rgba(0, 0, 0, 0.93);
}

.subBtn{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    width: 120px;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: #7097ff;
    font-weight: 100;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.7s ease;
    margin: 10px 10px 0;
}

.subBtn:hover{
    background: rgba(255,255,255,.2);
    color: rgba(0, 0, 0, 0.93);
    border-color: rgba(0, 0, 0, 0.93);
}


.gwt-DecoratorPanel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border :1px solid #bbb;
}







